node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.vscode
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/submissions
vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db